.about-container {
    margin-top: 550px;
    color: white !important;
    background: url(./img/bg.svg) no-repeat top center;
    background-size: 2560px 1680px;
}

.comp {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.body-copy {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #C9CDD1;
    font-size: 1rem;
    line-height: 145%;
    margin: 20px 0 30px;
}

.body-copy-strong {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 145%;
    margin-bottom: 20px;
}

.body-copy-small {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #C9CDD1;
    font-size: .702rem;
    line-height: 145%;
}

.body-copy-large {
    font-size: 1.266rem;
}

.body-copy-weight {
    font-weight: 700;
    color: white;
}

hr {
    height: 2px !important;
    background-image: -webkit-gradient(linear, left top, right top, from(#0ca8e1), to(#005f96));
    background-image: -webkit-linear-gradient(left, #0ca8e1 0%, #005f96 100%);
    background-image: -o-linear-gradient(left, #0ca8e1 0%, #005f96 100%);
    background-image: linear-gradient(to right, #0ca8e1 0%, #005f96 100%);
    width: 64px;
    margin: 20px auto 30px;
}

hr.small {
    margin: 5px 0 10px;
    max-width: 20px;
}

.ripplenet-wrapper {
    position: relative;
    height: 276px;
}

.ripple-net {
    background-image: url(./img/ripplenet-bg@2x.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    -webkit-transform: scale(2.63);
    -ms-transform: scale(2.63);
    -o-transform: scale(2.63);
    transform: scale(2.63);
}

.settlement-img {
    max-width: 397px;
}

.scalable-bg-wrapper {
    height: 242px;
    position: relative;
}

.scalable-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./img/scalable@2x.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.distributed-bg-wrapper {
    height: 292px;
    position: relative;
}

.distributed-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./img/distributed@2x.gif);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.eco-friendly-bg-wrapper {
    height: 143px;
    position: relative;
}

.eco-friendly-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(./img/eco-friendly-bg@2x.png);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    left: -5%;
}